.left {
    text-align: left;
    padding-left: 5px;
    width: auto;
}

.right {
    text-align: right;
}

.salary {
    margin: 8px 5em 0 0;
}

/* MINIMAL FLEX LAYOUT */
html, body {
    min-height: 100vh;
    margin: auto;
}
body {
    display: flex;
    flex-direction: column;
    background: rgb(238,130,238);
    background: linear-gradient(90deg,
     rgba(238,130,238,1) 0%, rgba(75,0,130,1) 2%, 
     rgba(0,0,255,1) 4%, rgba(0,128,0,1) 6%, 
     rgba(255,255,0,1) 8%, rgba(255,165,0,1) 10%, 
     rgba(255,0,0,1) 12%, rgba(76,73,73,1) 14%, 
     rgba(159,147,147,1) 50%,rgba(76,73,73,1) 86%, 
     rgba(255,0,0,1) 88%, rgba(255,165,0,1) 90%, 
     rgba(255,255,0,1) 92%, rgba(0,128,0,1) 94%, 
     rgba(0,0,255,1) 96%, rgba(75,0,130,1) 98%, 
     rgba(238,130,238,1) 100%);
}
header {
    height: 8em;
    background-color: #7a7a7a;
    text-align: center;
    color: rgb(222, 222, 222);
}
main {
    flex: auto;
    max-width: 80%;
    margin: auto;
}


/* Header and Footer styling */
header, footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2.5em;
}

/* Form styling */
input {
    padding: .2em;
    width: 99px;
    background: #FCFCFC;
    border: 1px solid;
}
button, button:active {
    padding: .1em;
    width: 70px;
    float: right;
    border-color: black;
    border-radius: 10%;
    margin-top: 5px;
}


/* TABLE styling */
table {
    width: 100%;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}
th, td {
    padding: .5em;
    min-width: 3.5em;
}
thead {
    background: #7a7a7a;
    color: black;
}
tbody tr:nth-child(odd){ 
    background: #b7b6b6;
}
tbody tr:nth-child(even){
    background: #dcdcdc;
}
.empty {
    border: none;
}
